<div class="row">
  <h1>Fractions</h1>
  <h2>Political Geography for Rational People</h2>
</div>
<div class="row">
  <div class="four columns">
    <div class="avatar">
      <img class="avatar" src="https://crafatar.com/renders/body/df5903fbd8e942dcbb3d82b085af5af1?overlay=true&scale=10" alt="ItsNickBarry"/>
    </div>
  </div>
  <div class="eight columns">
    <h3>Nick Barry</h3>
    <h4>ItsNickBarry</h4>
    <p>
      Nemo consectetur repellendus est reiciendis dolorum eum. Enim qui officia fuga alias itaque voluptate consequuntur iusto. Reiciendis enim doloremque praesentium accusamus aut rerum. Dignissimos modi quod est laborum officia velit autem aut.
    </p>
    <p>
      Nulla enim voluptas ut. Ut sed ratione eaque id et. Doloribus repellendus nam et est. Vitae est ea cupiditate aliquam esse vero enim voluptatibus. Exercitationem vel dolorem vitae ratione autem.
    </p>
  </div>
</div>
<div class="row">
  <div class="eight columns">
    <h3>Nashor</h3>
    <p>
      Harum dolorem consequatur praesentium inventore ea vel atque. Eligendi ut quo rem doloremque suscipit. Aliquid maiores in quia aliquam quod commodi unde. Veniam blanditiis autem qui culpa sapiente totam. Aut qui sunt enim inventore molestiae rerum. Modi qui officiis omnis sit deserunt.
    </p>
    <p>
      Expedita corrupti qui qui quis illum aut. A illo et consequatur et. Ea velit consequatur expedita mollitia eos atque velit et. Animi sed quia at alias qui.
    </p>
  </div>
  <div class="four columns">
    <div class="avatar">
      <img class="avatar flipped" src="https://crafatar.com/renders/body/5d86f9747bd846a18e9be8b994f89ab0?overlay=true&scale=10" alt="Nashor"/>
    </div>
  </div>
</div>
<div class="row">
  <p>
    Avatars provided by <a href="https://crafatar.com">Crafatar</a>.
  </p>
  <ul>
    <li>Rails
      <ul>
        <li>gems</li>
      </ul>
    </li>
    <li>Backbone</li>
    <li>Underscore.inflection</li>
    <li>Underscore.string</li>
    <li>SerializeJSON</li>
    <li>CompositeView</li>
    <li>ShallowNestedModel</li>
    <li>D3</li>
    <li>Skeleton</li>
  </ul>
</div>
