<h1>Home</h1>
<div class="dev-info">
  This is the home page. It will probably contain the single-page JS application if we decide to use one.
</div>
<% if signed_in? %>
  (you are signed in) TODO render page content
<% else %>
  (you are not signed in) TODO render sign-in/sign-up suggestion
<% end %>
