<div id="sign-in">
  <h1>Sign In</h1>
  <div class="dev-info">
    This page will send a request to the Mojang api to get the UUID for a given username, and fill in the "user[uuid]" field accordingly.  The response will also include a username with the correct case.
  </div>

  <%= render partial: 'layouts/user_form.html.erb', locals: { url: session_url } %>

  Need an account? <%= link_to "Sign Up", new_user_url %>
</div>
