<div id="sign-up">
  <h1>Sign Up</h1>

  <p>
    User your Minecraft name to sign up, but not your Minecraft password.
  </p>

  <%= render partial: 'layouts/user_form', locals: { url: users_url } %>

  Have an account? <%= link_to 'Sign In', new_session_url %>
</div>
