<h1>Character</h1>

<div class="object-show-public">
  name
  selected titles
  fractions
  fractions --> positions
  fractions --> electorates
</div>
<div class="object-show-private">
  non-selected titles
</div>
