<button class="tab expand">+</button>
<form class="hidden">
  <h4>New <%= _.titleize(_.humanize(collection.model.prototype.class)) %></h4>
  <% if (executable || callable) { %>
    <div class="row">
      <%= formInputs %>
    </div>
    <p>
      acting on behalf of:
    </p>
    <div class="search">
      <input type="text"placeholder="search">
    </div>
    <input type="hidden" name="authorizee[id]">
    <input type="hidden" name="authorizee[type]">
    <input class="button-primary" value="Submit" type="submit">
  <% } else { %>
    <p>
      You do not have authorization.
    </p>
  <% } %>
</form>
