<% if (authorizer.executable(authorization_type)) { %>
  <button id="executable">⇨</button>
<% } %>

<% if (authorizer.callable(authorization_type)) { %>
  <button id="callable">📣</button>
<% } %>

<% if (authorizer.votable(authorization_type)) { %>
  <button id="votable">☑</button>
<% } %>
