<h1>Character: <%= character.get("name") %></h1>
<div class="fractions-object-user">
  belongs to:
  <a href="<%= "#/users/" + character.user().escape("id") %>">
  <%= character.user().escape("username") %>
</a>
</div>

<div id="fractions">
  <div id="fractions-new"></div>
  <div id="fractions-list"></div>
</div>
