<h2>New Character</h2>

<form>
  <div class="row">
    <label for="characterNameInput">Name</label>
    <input id="characterNameInput" type="text" name="character[name]">
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
