<h4>New Character</h4>
<form id="character-form">
  <div class="row">
    <input type="text" name="character[name]" placeholder="name" required>
    <label><input type="radio" name="character[gender]" value="F" required>Female</label>
    <label><input type="radio" name="character[gender]" value="M" required>Male</label>
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
