<h1>Electorate in <%= electorate.fraction().escape("name") %>: <%= electorate.get("name") %></h1>
<div id="characters" class="fractions-object-character">
  <div id="characters-new"></div>
  <ul id="characters-list"></ul>
</div>
