<h4>New Electorate</h4>
<% if (executable) { %>
  <form>
    <div class="row">
      <label for="electorate-name-input">Name</label>
      <input id="electorate-name-input" type="text" name="electorate[name]">
    </div>
    <input class="button-primary" value="Submit" type="submit">
  </form>
<% } else { %>
  You don't have authorization
<% } %>
