<h4>Found New Fraction</h4>
<form>
  <div class="row">
    <label for="fraction-name-input">Name</label>
    <input id="fraction-name-input" type="text" name="fraction[name]">
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
