<h1>Fraction: <%= fraction.get("name") %></h1>
<div id="electorates-new"></div>
<div id="electorates"></div>
<div id="positions-new"></div>
<div id="positions"></div>
<div id="regions-new"></div>
<div id="regions"></div>
<div id="children-new"></div>
<div id="children"></div>
