<label for="fraction-name-input">Name</label>
<input id="fraction-name-input" type="text" name="fraction[name]">
<input type="hidden" name="founder[id]" value="<%= authorizer.class === 'Fraction' ? authorizer.get('id') : null %>">
