<h4>New Fraction</h4>
<form>
  <div class="row">
    <label for="fraction-name-input">Name</label>
    <input id="fraction-name-input" type="text" name="fraction[name]">
    <input type="hidden" name="founder[id]" value="<%= model.get('id') %>">
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
