<h1>Fraction: <%= fraction.get("name") %></h1>
<div id="electorates">
  <div id="electorates-new"></div>
  <div id="electorates-list"></div>
</div><div id="positions">
  <div id="positions-new"></div>
  <div id="positions-list"></div>
</div><div id="regions">
  <div id="regions-new"></div>
  <div id="regions-list"></div>
</div><div id="children">
  <div id="children-new"></div>
  <div id="children-list"></div>
</div>
