<div class="row">
  <span class="title"><%= name + ' of ' + parentModel.a(parentModel.escape('name')) %></span>
</div>
<div class="row">
  <div class="six columns">
    <div class="list"></div>
  </div>
  <div class="six columns">
    <div class="fraction-component-new"></div>
  </div>
</div>
