<h1><%= _.titleize(name) + ' of ' + fraction.a(fraction.escape('name')) %></a>
</h1>

<div class="row">
  <div class="six columns">
    <div class="list"></div>
  </div>
  <div class="six columns">
    <div class="fraction-component-new"></div>
  </div>
</div>
