<div class="row">
  <h1><%= name + ' of ' + model.a(model.escape('name')) %></h1>
</div>
<div class="row">
  <div class="six columns">
    <div class="list"></div>
  </div>
  <div class="six columns">
    <div class="form-container"></div>
  </div>
</div>
