<h4>Create New Position</h4>
<form>
  <div class="row">
    <label for="position-name-input">Name</label>
    <input id="position-name-input" type="text" name="position[name]">
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
