<h1>Position: <%= position.escape("name") %></h1>
<a href=<%= "#/fractions/" + position.fraction().escape("id") %>><%= position.fraction().escape("name") %></a>
<div id="characters" class="character">
  <div id="characters-new"></div>
  <div id="characters-list"></div>
</div>
