<h4>Create New Region</h4>
<form>
  <div class="row">
    <label for="region-name-input">Name</label>
    <input id="region-name-input" type="text" name="region[name]">
  </div>
  <input class="button-primary" value="Submit" type="submit">
</form>
