<p>
  This is a placeholder for the application root.

  <br>Things that will go here:
  <ul>
    <li>character scope selecter</li>
    <li>character's fractions' events</li>
    <li>character's wars</li>
    <li>character's eligible elections</li>
  </ul>
</p>
