<div class="row">
  <h1><%= user.escape('name') %></h1>
</div>
<div class="row">
  <div class="four columns">
    <div class="avatar">
      <img class="avatar" src="https://crafatar.com/renders/body/<%= user.escape('uuid') %>?overlay=true&scale=10" alt="<%= user.escape('name') %>" />
    </div>
    <ul>
      <li>last seen</li>
      <li>contact information</li>
    </ul>
  </div>
  <div class="eight columns">
    <h3>Characters</h3>
    <div id="characters-list"></div>
    <div id="characters-new"><div>
  </div>
</div>
