<h1>User: <%= user.get("username") %></h1>
<div id="characters" class="character">
  <div class="row">
    <div class="six columns">
      <div id="characters-list"></div>
    </div>
    <div class="six columns">
      <div id="characters-new"><div>
    </div>
  </div>
</div>
